<launch>
    <!-- Inicia la comunicasion de ros entre la jetson nano y occhibot base tenssy-->
    <node pkg="rosserial_python" name="rosserial_occhi" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600" />
    </node>

    <!-- Publish static transform from base_footprint to base_link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.098 0 0 0  /base_footprint /base_link"/>


    <!-- Run occhibot t265 drivers -->
     <include file="$(find ps4_ros)/launch/ps4.launch" />
     <!-- Run occhibot t265 drivers -->
     <include file="$(find occhibot)/launch/include/camera/camera_t265.launch" /> 


</launch>